@model FinanceApp.Models.Expense //here we are not expecting a list so we do not use IEnumerable

<div class="container">
    <h2>Add Expense</h2>
    <form asp-action="Create" method="post">
        <div>
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control"/>
        </div>

        <div>
            <label asp-for="Amount" class="form-label">Amount</label>
            <input asp-for="Amount" class="form-control"/>
        </div>


        <div>
            <label asp-for="Category" class="form-label">Category</label>
            <input asp-for="Category" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Add Expense</button>
    </form>
</div>
