@model FinanceApp.Models.Expense //here we are not expecting a list so we do not use IEnumerable

<div class="container">
    <h2>Delete Expense</h2>
    <form asp-controller="Expenses" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div>
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div>
            <label asp-for="Amount" class="form-label">Amount</label>
            <input asp-for="Amount" class="form-control" />
        </div>


        <div>
            <label asp-for="Category" class="form-label">Category</label>
            <input asp-for="Category" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Delete Expense</button>
    </form>
</div>
